SENDGRID_API_KEY=SG.xxxxxx
SENDGRID_DATA_RESIDENCY=global
EMAIL_FROM=corporativo@midominio.com
EMAIL_TO=ventas@midominio.com,compras@midominio.com,direccion@midominio.com
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
API_PREFIX=api
SWAGGER_PATH=docs
PORT=3000
